<footer class="footer">
  <div class="footer_inner">
    <h4>SNSをチェック</h4>
    <div class="footer_shared">
      <a href="https://twitter.com/sasaco_corp">
         <i class="fab fa-twitter fa-2x"></i>       
      </a>
      <a href="https://www.facebook.com/yosuke.sasazawa">
        <i class="fab fa-facebook fa-2x"></i>       
      </a>
      <a href="https://www.youtube.com/channel/UCHt4hzVJd95-m-f0r8YSCSA">
        <i class="fab fa-youtube fa-2x"></i>       
      </a>
      <a href="https://github.com/sasaco">
         <i class="fab fa-github fa-2x"></i>       
      </a>
    </div>
       
    <div class="footer_links">
      <div class="footer_link">
        <a href="./rule">利用規約</a>       
      </div>
      <div class="footer_link">
        <a href="./policy">プライバシーポリシー</a>       
      </div>
      <div class="footer_link">
        <a href="./law">特定商取引に基づく表示</a>       
      </div>
    </div>

    <div class="footer_copy">© 2021 Structural Engine</div>
      
  </div>
</footer>
