@font-face {
	font-family: "check";
	src: url(../../assets/font/CPFont.ttf);
}

.footer_inner {
	padding: 32px;
	a {
		color: #000;
		text-decoration: none;
	}
	.footer_shared {
		text-align: center;
		margin: 16px;
		img {
			width: 50px;
			margin: 12px;
		}
		a {
			&:hover {
				cursor: pointer;
				opacity: 0.7;
			}
			padding: 12px;
			.fa-twitter {
				color: #1da1f2;
			}
			.fa-facebook {
				color: #1877f2;
			}
			.fa-youtube {
				color: #da1725;
			}
			.fa-github {
				color: #161415;
			}
		}
	}
	.footer_links {
		.footer_link {
			margin-bottom: 8px;
			a {
				&:hover {
					cursor: pointer;
					text-decoration-line: underline;
				}
			}
		}
	}
	.footer_copy {
		text-align: center;
		padding: 16px;
	}

	h4 {
		margin: 16px 0px;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
		font-family: check;
	}
}
