<div id="price_top"></div>
<h2 class="check">料金プラン</h2>
<h4 class="check">Price</h4>

<section id="price_intro">
    <div class="bg-green">
        <h3>構造計算の新しい料金のカタチ</h3>
    </div>
    <div class="bg-gray">
        <div class="feature container">
            <div class="content">
                <ul>
                    <li><span>✓</span>使った分だけ</li>
                    <li><span>✓</span>使いたいときだけ</li>
                    <li><span>✓</span>用途に合わせて</li>
                </ul>
            </div>
<!--             
            <div class="img-area">
                <img src="../../assets/images/price_4.png" alt="料金図">
            </div>
 -->
            <svg
            width="500"
            height="400"
            viewBox="0 0 402.82848 263.17358"
            version="1.1"
            id="svg5"
            inkscape:version="1.1 (c68e22c387, 2021-05-23)"
            sodipodi:docname="price.svg"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs
                id="defs2">
                <linearGradient
                id="linearGradient15421"
                inkscape:swatch="solid">
                <stop
                    style="stop-color:#000000;stop-opacity:1;"
                    offset="0"
                    id="stop15419" />
                </linearGradient>
            </defs>
            <g
                inkscape:groupmode="layer"
                id="layer4"
                inkscape:label="外枠"
                style="display:inline" />
            <g
                inkscape:groupmode="layer"
                id="layer2"
                inkscape:label="吹き出し"
                style="display:inline">
                <rect
                style="display:inline;fill:none;fill-opacity:1;stroke:#000000;stroke-width:0.529169;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
                id="rect15483-4"
                width="371.05554"
                height="225.15572"
                x="31.31827"
                y="36.504864" />
                <path
                style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:5.29167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 34.648896,105.47535 6.3782159,56.001675 27.581226,8.0424994 152.77992,13.595667 l 11.61117,63.609013 -24.73684,29.78518 -19.6885,-1.00967 -0.50484,15.145 -13.12567,-15.145 z"
                id="path14711" />
            </g>
            <g
                inkscape:groupmode="layer"
                id="layer3"
                inkscape:label="グラフ"
                style="display:inline">
                <path
                style="fill:#00c8ff;fill-opacity:0.5;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="M 31.318268,261.66058 154.98387,187.79804 v 73.70568 z"
                id="path18238" />
                <path
                style="fill:#ffe600;fill-opacity:0.5;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 154.98387,261.50372 v -73.70568 l 123.17936,-75.22018 0.50482,148.92586 z"
                id="path22568" />
                <path
                style="fill:#ff5a00;fill-opacity:0.5;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 278.66805,261.50372 123.68419,-0.25241 1e-5,-223.893635 -124.18902,75.220185 0.50482,148.92586"
                id="path24177"
                sodipodi:nodetypes="ccccc" />
            </g>
            <g
                inkscape:groupmode="layer"
                id="layer5"
                inkscape:label="グラフの文字"
                style="display:inline">
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="132.77119"
                y="181.23521"
                id="text28265"><tspan
                    sodipodi:role="line"
                    id="tspan28263"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05556px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                    x="132.77119"
                    y="181.23521">1,000pt</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="249.54776"
                y="107.92188"
                id="text28265-3"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.05556px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                    x="249.54776"
                    y="107.92188">5,000pt</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="61.654732"
                y="217.45952"
                id="text28265-3-4"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2-6"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#0000ff;fill-opacity:1;stroke-width:0.264583"
                    x="61.654732"
                    y="217.45952">Free プラン</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#ff6400;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="179.78577"
                y="216.44984"
                id="text28265-3-4-0"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2-6-0"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff6400;fill-opacity:1;stroke-width:0.264583"
                    x="179.78577"
                    y="216.44984">プラン5000</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="280.23572"
                y="197.77101"
                id="text28265-3-4-0-5"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2-6-0-1"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff0000;fill-opacity:1;stroke-width:0.264583"
                    x="280.23572"
                    y="197.77101"></tspan><tspan
                    sodipodi:role="line"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff0000;fill-opacity:1;stroke-width:0.264583"
                    x="280.23572"
                    y="216.42651"
                    id="tspan49542">Enterprise プラン</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="77.304565"
                y="248.75917"
                id="text28265-3-4-5"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2-6-7"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#0000ff;fill-opacity:1;stroke-width:0.264583"
                    x="77.304565"
                    y="248.75917">￥0 / 月</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#ff6400;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="179.89537"
                y="249.70366"
                id="text28265-3-4-5-8"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2-6-7-3"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff6400;fill-opacity:1;stroke-width:0.264583"
                    x="179.89537"
                    y="249.70366">￥5,000 / 月</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;display:inline;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="297.65311"
                y="250.48595"
                id="text28265-3-4-5-8-9"><tspan
                    sodipodi:role="line"
                    id="tspan28263-2-6-7-3-4"
                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.1111px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff0000;fill-opacity:1;stroke-width:0.264583"
                    x="297.65311"
                    y="250.48595">￥50,000 / 月</tspan></text>
            </g>
            <g
                inkscape:label="吹き出しの文字"
                inkscape:groupmode="layer"
                id="layer1"
                transform="translate(-1.1177952,-1.0716697)"
                style="display:inline">
                <text
                xml:space="preserve"
                style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="23.560095"
                y="38.848606"
                id="text2510"><tspan
                    sodipodi:role="line"
                    id="tspan2508"
                    style="stroke-width:0.264583"
                    x="23.560095"
                    y="38.848606">ウェブアプリだからできる</tspan></text>
                <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:17.6389px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="36.06052"
                y="77.355606"
                id="text2510-2"><tspan
                    sodipodi:role="line"
                    id="tspan2508-9"
                    style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:17.6389px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                    x="36.06052"
                    y="77.355606">従量課金制！</tspan></text>
            </g>
            </svg>
        </div>
    </div>
</section>

<section id="plan">

    <app-charge></app-charge>
    <div class="button-area">
        <div *ngIf="auth.user | async as user; else showLogin">
            <a routerLink="/stripe" class="btn-md purchase">マイページへ</a>
        </div>
        <ng-template #showLogin>
            <a routerLink="/stripe" class="btn-md purchase">購入する</a>
        </ng-template>
    </div>
</section>

<section id="case">
    <div class="bg-green">
        <h3>事例集</h3>
    </div>
    <div class="bg-gray">
        <div class="container">
            <div class="card">
                <div class="img-area">
                    <img src="../../assets/images/pier_1.png" alt="cad">
                    <img src="../../assets/images/pier_2.png" alt="bone">
                </div>
                <a href="https://note.com/structuralengine/n/n624495b54231">
                    <h5>門型橋脚<span>(1,569Pt)</span></h5>
                </a>
                <div class="data">
                    <div class="data_body">
                        <p>基本データ</p>
                        <ul>
                            <li>
                                <dl>
                                    <dt>節点数</dt>
                                    <dd>49</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>断面照査数</dt>
                                    <dd>99</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>荷重タイプ数</dt>
                                    <dd>30</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="data_body count">
                        <p>プラン別利用可能回数</p>
                        <ul>
                            <li>
                                <dl>
                                    <dt>Free</dt>
                                    <dd>6</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Basic</dt>
                                    <dd>63</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Enterprise</dt>
                                    <dd>6,373</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-area">
                    <img src="../../assets/images/box_1.png" alt="cad">
                    <img src="../../assets/images/box_2.png" alt="bone">
                </div>
                <a href="https://note.com/structuralengine/n/nb58bf498365e">
                    <h5>Boxカルバート<span>(808Pt)</span></h5>
                </a>
                <div class="data">
                    <div class="data_body">
                        <p>基本データ</p>
                        <ul>
                            <li>
                                <dl>
                                    <dt>節点数</dt>
                                    <dd>33</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>断面照査数</dt>
                                    <dd>181</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>荷重タイプ数</dt>
                                    <dd>19</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="data_body count">
                        <p>プラン別利用可能回数</p>
                        <ul>
                            <li>
                                <dl>
                                    <dt>Free</dt>
                                    <dd>12</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Basic</dt>
                                    <dd>123</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Enterprise</dt>
                                    <dd>12,376</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img-area">
                    <img src="../../assets/images/RC_1.png" alt="cad">
                    <img src="../../assets/images/RC_2.png" alt="bone">
                </div>
                <a href="https://note.com/structuralengine/n/n8397100c4cdb">
                    <h5>RC単純T形桁<span>(191Pt)</span></h5>
                </a>
                <div class="data">
                    <div class="data_body">
                        <p>基本データ</p>
                        <ul>
                            <li>
                                <dl>
                                    <dt>節点数</dt>
                                    <dd>45</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>断面照査数</dt>
                                    <dd>11</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>荷重タイプ数</dt>
                                    <dd>4</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="data_body count">
                        <p>プラン別利用可能回数</p>
                        <ul>
                            <li>
                                <dl>
                                    <dt>Free</dt>
                                    <dd>52</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Basic</dt>
                                    <dd>523</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>Enterprise</dt>
                                    <dd>52,326</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="button-area">
                <div *ngIf="auth.user | async as user; else showLogin">
                    <a routerLink="/stripe" class="btn-md purchase">マイページへ</a>
                </div>
                <ng-template #showLogin>
                    <a routerLink="/stripe" class="btn-md purchase">購入する</a>
                </ng-template>
            </div>
        </div>
    </div>
</section>

<!-- 料金ページのトップへ戻る -->
<div id="pricetop">
    <a routerLink="/price" fragment="price_top">
        <i class="fas fa-angle-up">
        </i>
    </a>
</div>