$orange: #008080;
$yellow: #ffffe5;
$gray: #f5f5f5;
$white: #fff;
$red_dark: #990000;
$red_bright: #cc0000;
.wf-nicomoji {
    font-family: "Nico Moji";
}

@font-face {
    font-family: "check";
    src: url(../../assets/font/CPFont.ttf);
}

a {
    color: black;
    text-decoration: none;
}

.check {
    font-family: check;
}

section {
    padding-bottom: 60px;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 32px;
    }
}

h2 {
    color: #000;
    font-size: 3em;
    text-align: center;
}

h3 {
    margin: 16px 0;
    font-size: 2em;
    font-weight: bold;
    .fc-orange {
        color: $orange;
    }
}

h4 {
    margin: 16px 0 32px;
    color: $orange;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

//構造計算の新しい料金のカタチ
//事例集
.bg-green {
    background-color: #008080;
    h3 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 16px;
        color: $white;
        font-weight: 100;
    }
}

.bg-gray {
    background-color: #f5f5f5;
    background-size: 30px 30px;
    margin: 0 auto;
}

// 構造計算の新しい料金のカタチ
#price_intro {
    .feature {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 32px;
        .content {
            width: 50%;
            ul {
                li {
                    font-size: 32px;
                    line-height: 64px;
                    font-weight: bold;
                    span {
                        margin-right: 16px;
                        color: $orange;
                        font-weight: bold;
                    }
                }
            }
        }
        .img-area {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}

// 事例集
#case {
    .container {
        padding: 30px 32px;
        .card {
            margin-bottom: 32px;
            padding: 32px;
            &:last-child {
                margin: 0;
            }
            .img-area {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-bottom: 32px;
                img {
                    width: 50%;
                }
            }
            a {
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
                h5 {
                    margin: 0;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #999;
                    font-size: 32px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    span {
                        margin-left: 16px;
                        font-weight: 500;
                    }
                    &::first-letter {
                        font-size: 48px;
                        color: $red_bright;
                    }
                }
            }
            .data {
                display: grid;
                gap: 2rem;
                width: 100%;
                grid-template-columns: 1fr 1fr;
                .data_body {
                    p {
                        margin: 24px 0 16px 0;
                        font-size: 24px;
                    }
                    ul {
                        margin: 0;
                        li {
                            border-bottom: 1px solid #999;
                            &:last-child {
                                border-bottom: 0;
                            }
                            dl {
                                margin: 0;
                                padding: 8px 0;
                                &::after {
                                    display: block;
                                    content: "";
                                    clear: both;
                                }
                                dt {
                                    float: left;
                                    margin: 0;
                                    min-width: 150px;
                                    line-height: 48px;
                                }
                                dd {
                                    float: left;
                                    margin: 0;
                                    line-height: 48px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//料金プランカード(charge.component.html)
.plan {
    display: grid;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    .card {
        box-shadow: 2px 2px 4px;
        &:nth-child(1) {
            .card-header {
                background-color: #7bb7f8;
                p {
                    color: #002060;
                }
            }
        }
        &:nth-child(2) {
            .card-header {
                background-color: #fdf360;
                p {
                    color: #cc6600;
                }
            }
        }
        &:nth-child(3) {
            .card-header {
                background-color: #ef857d;
                p {
                    color: #cc0000;
                }
            }
        }
        .card-header {
            p {
                margin: 0;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .card-body {
            padding: 24px;
            p {
                text-align: center;
                .price {
                    margin-right: 8px;
                    color: $red_bright;
                    font-size: 32px;
                }
            }
            ul {
                margin: 0;
                li {
                    border-bottom: 1px solid #999;
                    dl {
                        margin: 0;
                        padding: 8px 0;
                        &::after {
                            display: block;
                            content: "";
                            clear: both;
                        }
                        dt {
                            float: left;
                            min-width: 120px;
                        }
                        dd {
                            float: left;
                            margin-bottom: 0 !important;
                            .unlimit {
                                vertical-align: super;
                                font-size: 8px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        dl {
                            dd {
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.caution {
    margin-top: 22px;
}

@media screen and (max-width: 1140px) {
    .plan {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    // 構造計算の新しい料金のカタチ
    #price_intro {
        .feature {
            display: block;
            padding: 32px;
            .content {
                width: 100%;
                ul {
                    text-align: left;
                    li {
                        font-size: 6vw;
                        line-height: 64px;
                        font-weight: 500;
                    }
                }
            }
            .img-area {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
    // 事例集
    #case {
        .container {
            .card {
                margin-bottom: 32px;
                padding: 32px;
                .img-area {
                    display: block;
                    width: 100%;
                    img {
                        width: 100%;
                        &:first-child {
                            display: none;
                        }
                    }
                }
                a {
                    h5 {
                        font-size: 24px;
                    }
                }
                .data {
                    display: block;
                    .data_body {
                        ul {
                            li {
                                dl {
                                    margin: 0;
                                    dt {
                                        margin: 0;
                                    }
                                    dd {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //料金プランカード
    .plan {
        display: block;
        .card {
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
            .card-body {
                ul {
                    li {
                        dl {
                            margin: 0;
                            padding: 8px 0;
                        }
                    }
                }
            }
        }
    }
    //料金トップページへ戻る
    #pricetop a {
        width: 45px;
        height: 45px;
    }
}

//料金トップページへ戻る
#pricetop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0;
    a {
        position: relative;
        display: flex;
        width: 65px;
        height: 65px;
        justify-content: center;
        background: #ffa650;
        color: #fff;
        align-items: center;
        text-decoration: none;
        font-size: 32px;
        border-radius: 100%;
        &:hover {
            opacity: 0.7;
        }
    }
}