<!-- よくある質問 -->
<h2 class="check">よくある質問</h2>
<h4 class="check">FAQ</h4>

<h3 class="Accordion-header">ソフトウェアに関する質問</h3>
<div class="Accordion">
    <ng-container *ngFor="let item of FAQ; index as i">
        <div class="pointerCursor" (click)="onAccordion(i)">
            <i [ngClass]="item.showDetail ? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i> &nbsp;{{item.Q}}
        </div>
        <div *ngIf="item.showDetail" class="content">
            {{item.A}}
        </div>
    </ng-container>
</div>