<section class="u-section-1" id="law">
  <div class="u-sheet-1">
    <h1 class="law">特定商取引法に基づく表示</h1>
    <div>
      <table border="1">
        <!-- <tr>
                  <th>項目</th>
                  <th>内容</th>
                </tr> -->
        <tr>
          <td>販売業者</td>
          <td>株式会社ささこう</td>
        </tr>
        <tr>
          <td>責任者</td>
          <td>笹澤陽佑</td>
        </tr>
        <tr>
          <td>所在地</td>
          <td>
            〒181-0013<br />東京都三鷹市下連雀3丁目3-50　パークファミリア501
          </td>
        </tr>
        <tr>
          <td>サービスの対価</td>
          <td>
            株式会社ささこう（以下、「弊社」といいます。）が管理運営するウェブサイト（以下、「本サイト」といいます。）に掲載いたします。
          </td>
        </tr>
        <tr>
          <td>サービスの提供時期</td>
          <td>計算サービス利用のため、入力データを本サイトに送信するとき。</td>
        </tr>
        <tr>
          <td>サービスの対価の支払時期</td>
          <td>計算サービス利用のため、本サイト上でポイントを購入するとき。</td>
        </tr>
        <tr>
            <td>サービスの対価支払方法</td>
            <td>
                クレジットカード決済、あるいはPaypalのいずれかによる。
            </td>
          </tr>
        <tr>
          <td>サービスの対価以外にお客さまにご負担いただく金銭</td>
          <td>申し込み手続きにかかる通信料及び接続料</td>
        </tr>
        <tr>
          <td>サービスを使用するための利用者の推奨環境</td>
          <td>
            計算サービスの利用環境の推奨条件はついては
            <a href="./rule">利用規約</a>
            第1２条利用環境の整備をご確認下さい。
          </td>
        </tr>
        <tr>
          <td>サービスの利用</td>
          <td>
            計算サービスの利用に際して、
            <a href="./rule">利用規約</a>
            第1３条自己責任の原則、第18条免責をご確認ください。
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
