.sheet {
    margin: 32px;
    h1 {
        font-size: 40px;
        margin-bottom: 8px;
    }
    h4 {
        span {
            font-weight: 700;
        }
    }
}

p {
    span {
        font-size: 16px;
    }
}

.text-point {
    margin: 20px 0 0;
    ul {
        box-sizing: inherit;
        margin: 0px auto;
        padding-left: 20px;
        list-style: outside disc;
        li {
            margin: 8px 0px;
        }
    }
    p {
        span {
            font-size: 16px;
        }
    }
}

.text {
    margin: 20px 0 0;
    ul {
        padding-left: 4px;
    }
    li {
        box-sizing: inherit;
        margin: 8px 0px 6px;
        span {
            font-size: 16px;
        }
    }
    p {
        span {
            font-size: 16px;
        }
    }
}

.text-12 {
    margin: 0;
    text-align: center;
}

h4 {
    span {
        font-weight: 700;
    }
}