.desktop {
    max-width: 1200px;
}

body {
    // font-family: Open Sans, Arial, sans-serif, unset;
    padding-bottom: 3%;
    background: 0 0 !important;
    font-size: 1em;
}

.underlined-info {
    border-bottom: 1px dotted #5a6c74;
    cursor: help;
}

.fa-times-circle.red {
    color: #c4c4c4;
}

.no-border {
    border: none !important;
}

.row-header {
    width: 40%;
}

.row-content {
    width: 15%;
}

#login {
    .bg-gray {
        padding: 8px 0;
        background-color: #f5f5f5;
    }
    .already {
        margin: 45px 0 28px 0;
        .mypage {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logout {
                font-size: 14px;
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
    h3 {
        margin: 0;
        font-size: 24px;
    }
    .welcome {
        text-align: left;
        font-size: 24px;
        font-weight: 300;
    }
}

.plan-box {
    text-align: center;
}

.plan-name {
    font-size: 1.75em;
    font-weight: 300;
    font-family: unset;
    color: #5a6c74;
}

.plan-price {
    font-size: 2.25em;
    font-weight: 300;
    font-family: unset;
    color: #289dcc;
}

.plan-term {
    font-size: 0.5em;
    font-weight: 200;
    font-family: unset;
}

.blue {
    color: #289dcc;
}

.pricing-tb-label {
    font-weight: 700;
}

input {
    margin-bottom: 16px;
}

.forget {
    border-bottom: 1px solid #333;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffa650;
    border: 0;
    &:checked {
        border: 0;
    }
}