<section id="login">
    <h2 class="check">Structural Engine会員</h2>
    <h4 class="check">Member</h4>

    <!-- マイページ -->
    <div *ngIf="emailVerified else showLogin">
        <div class="bg-gray already">
            <div class="container mypage">
                <h3>マイページ</h3>
                <a class="logout" (click)="logout()">ログアウト</a>
            </div>
        </div>
        <div class="container">
            <h3 class="welcome">ようこそ、{{ currentUser.displayName }}さん</h3>
            <p>あなたは, <span class="plan-price">&yen;{{ currentUser.price }}<span class="plan-term">/{{
                        currentUser.interval
                        }}</span></span> のプランに加入しています。</p>

            <!-- 商品ページ -->
            <app-charge></app-charge>
        </div>
    </div>

    <!--ログイン前-->
    <ng-template #showLogin>
        <div *ngIf="(!resisVisible&&!resetVisible)">
            <div class="container">
                <div class="button-area">
                    <a class="btn-lg new-resis" (click)="new_resis()">新規会員登録はこちら</a>
                </div>
            </div>

            <div class="member">
                <div class="bg-gray already">
                    <div class="container">
                        <h3>会員登録がお済みの方</h3>
                    </div>
                </div>
                <div class="container">
                    <form [formGroup]="loginForm" (ngSubmit)="login()" (submit)="login()">
                        <label for="email">メールアドレス</label>
                        <input type="email" name="mail" required email class="form-control" formControlName="email" [(ngModel)]="loginUserName" placeholder="Username" id="user_name_id">
                        <label for="password">パスワード</label>
                        <input type="password" class="form-control" formControlName="password" [(ngModel)]="loginPassword" placeholder="Password" required>
                    </form>
                    <a class="forget" (click)="forgetPass()">パスワードを忘れた方はこちら</a>
                    <div *ngIf="loginError">
                        {{errorMessage}}
                    </div>
                    <div class="button-area">
                        <a class="btn-md new-resis" (click)="login()">ログイン</a>
                    </div>
                </div>
            </div>
        </div>

        <!--パスワード忘れ-->
        <div *ngIf="resetVisible">
            <div class="container">
                <form [formGroup]="loginForm" (ngSubmit)="resetPass()" (submit)="resetPass()">
                    <label for="email">メールアドレス</label>
                    <input type="email" name="mail" required email class="form-control" formControlName="email" [(ngModel)]="loginUserName" placeholder="Username" id="user_name_id">
                </form>
                <div class="button-area">
                    <a class="btn-md new-resis" (click)="resetPass()">送信する</a>
                    <a class="btn-md back" routerLink="./stripe" style="margin-top: 32px;">戻る</a>
                </div>
            </div>
        </div>

        <!--新規登録-->
        <div *ngIf="resisVisible">
            <div class="member">
                <div class="bg-gray already">
                    <div class="container">
                        <h3>新規会員登録</h3>
                    </div>
                </div>
                <div class="container">
                    <form [formGroup]="loginForm" (ngSubmit)="resist()" (submit)="resist()">
                        <label for="name">ユーザー名</label>
                        <input type="text" name="name" required name class="form-control" formControlName="name" [(ngModel)]="loginUser" placeholder="Username" id="user_name">
                        <label for="email">メールアドレス</label>
                        <input type="email" name="mail" required email class="form-control" formControlName="email" [(ngModel)]="loginUserName" placeholder="email" id="user_name_id">
                        <label for="password">パスワード</label>
                        <input type="password" class="form-control" formControlName="password" [(ngModel)]="loginPassword" placeholder="Password" required>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ruleCheck" (change)="onChange( $event)">
                            <label class="custom-control-label" for="ruleCheck"></label><span><a routerLink="./rule"
                                    style="border-bottom: 1px solid #333;">利用規約</a>に同意する</span>
                        </div>
                    </form>
                    <div *ngIf="loginError">
                        {{errorMessage}}
                    </div>
                    <div class="button-area">
                        <a class="btn-md new-resis" (click)="resist()">登録</a>
                        <a class="btn-md back" (click)="back()" style="margin-top: 32px;">戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>