  <h2 class="check">オンライン構造解析ソフトウェア</h2>
  <h4 class="check">OUR PRODUCTS</h4>
  <p>土木設計の数値計算の数量は膨大です。この数値計算を早く正確かつ速くできれば、仕事量を格段に減らすことができます。<br>これを実現するのが、数値計算サービス「StructuralEngine」です。</p>

  <!-- 製品紹介 -->
  <div class="box-area service">
    <a class="u-post-header-link" href="https://structuralengine.github.io/FrameWebforJS/" target=”_blank”>
      <div class="box">
        <img src="../../../assets/images/FrameJS.gif" alt="立体骨組応力解析">
        <div class="box-content">
          <h3>立<span class="fc-orange">体</span>骨組応力解析</h3>
          <p>本プログラムは任意系立体骨組構造物の応力解析を行うプログラムです。</p>
        </div>
      </div>
    </a>
    <a class="u-post-header-link" href="https://structuralengine.github.io/WebDanforJS/" target=”_blank”>
      <div class="box">
        <img src="../../../assets/images/webdanforJS.png" alt="断面性能照査">
        <div class="box-content">
          <h3>断<span class="fc-orange">面</span>性能照査</h3>
          <p>本プログラムは断面の釣り合い計算および応力度の算定を行うプログラムです。</p>
        </div>
      </div>
    </a>
    <a class="u-post-header-link" href="https://sasaco.github.io/BoxAI/" target=”_blank”>
      <div class="box">
        <img src="../../../assets/images/boxAI.png" alt="Xカルバート">
        <div class="box-content">
          <h3>B<span class="fc-orange">O</span>Xカルバート</h3>
          <p>本プログラムはあらかじめ設計した大量の計算結果をAIに学習させることにより適正な寸法を予測するプログラムです。</p>
        </div>
      </div>
    </a>
  </div>

  <!-- 製品の特長 -->
  <div class="feature">
    <div class="feature-part">
      <div class="feature-txt">
        <h4 class="check future"><span class="fc-bk">FUTURE</span>01</h4>
        <h3>包括的なデザインコードアドオン</h3>
        <p>鉄筋コンクリート・鋼・複合混合物において鉄道、港湾などの設計基準に準拠</p>
      </div>
      <div class="feature-img">
        <img src="../../../assets/images/FEATURE1.png" alt="製品の特長1">
      </div>
    </div>
    <div class="feature-part">
      <div class="feature-txt">
        <h4 class="check future"><span class="fc-bk">FUTURE</span>02</h4>
        <h3>即時アクセス</h3>
        <p>100% クラウドベースでシームレスに動作します。<br> 
          パソコン、そしてモバイルタブレットさえ！<br>
          ライセンスキーは不要、バージョンの問題やコストのかかるアップデートはもうありません。
          </p>
      </div>
      <div class="feature-img">
        <img src="../../../assets/images/FEATURE2.png" alt="製品の特長2">
      </div>
    </div>
    <div class="feature-part">
      <div class="feature-txt">
        <h4 class="check future"><span class="fc-bk">FUTURE</span>03</h4>
        <h3>柔軟な価格設定</h3>
        <p>柔軟な価格設定、必要な分だけ支払う。</p>
      </div>
      <div class="feature-img">
        <img src="../../../assets/images/FEATURE3.png" alt="製品の特長3">
      </div>
    </div>
    <div class="feature-part">
      <div class="feature-txt">
        <h4 class="check future"> <span class="fc-bk">FUTURE</span>04</h4>
        <h3>使いやすい</h3>
        <p>プログラムは非常に直感的で使いやすいです。<br>
          ワークフローとユーザーインターフェイスを再設計しました。<br>
          入力が簡単で、インターフェースがすっきり、<br>
          ラーニングコストが短縮でき、入力にかかる時間が短縮できます。
          </p>
      </div>
      <div class="feature-img">
        <img src="../../../assets/images/FEATURE4.png" alt="製品の特長4">
      </div>
    </div>
  </div>