<div id="Container" class="Container">
  <!-- PC -->  
  <div class="Parallax">
    <div id="scene" class="scene">
      <div data-depth="1.00">
        <div class="pic1">
          <h2 class="check">ストレスフリーなものづくりを</h2>
        </div>
      </div>

      <div data-depth="0.60">
        <div class="pic2">
          <h2 class="check">この設計解析ソフトウェアで</h2>
        </div>
      </div>

      <div data-depth="0.40">
        <div class="pic3">
          <h2 class="check">実現しよう。</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- スマホ -->  
  <div class="Hero">
    <div class="catchphrase">
      <h1 class="check">
        ストレスフリーなものづくりを<br />この設計ソフトウェアで<br />実現しよう
      </h1>
    </div>
  </div>


</div>
