<div class="super-content-wrapper">
    <div class="notion-header page">
        <div class="notion-header__cover has-cover"><span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                    alt="株式会社ささこう" sizes="100vw" src="../../../assets/images/d.png" decoding="async"
                    data-nimg="fill" class="notion-header__cover-image"
                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover;object-position:center 50%"></span>
        </div>
        <div class="notion-header__content has-cover has-icon-image">
            <div class="notion-header__title-wrapper">
                <h1 class="notion-header__title">株式会社 ささこう</h1>
            </div>
        </div>
    </div>
    <div class="super-content">
        <div id="block-8297dff8b8a24189975c8eecb9fc7f98" class="notion-text">
            <p class="notion-text__content"><span class="notion-semantic-string"><span>株式会社ささこう（Structural
                        Engine）は、土木設計とプログラミング開発を得意とする土木構造設計会社です。 </span></span>
            </p>
        </div>
        <div id="block-6b5ba00547e946d1bc39be4b14271e47" class="notion-text">
            <p class="notion-text__content"><span class="notion-semantic-string"></span></p>
        </div>

        <div id="block-de1bb4a8d1144fca9d2c515113868be1" class="notion-divider"></div>

        <!--ビジョン-->
        <h2 id="block-c3e1575ca2714d1b8d803737f4f583d8" class="notion-heading"><span class="notion-heading__anchor" id="c3e1575ca2714d1b8d803737f4f583d8"></span><span class="notion-semantic-string"><span>Mission /
                    Vision</span></span>
        </h2>
        <div id="block-68318234cfe14c03915587ac8a9889f0" class="notion-text">
            <p class="notion-text__content"><span class="notion-semantic-string"><span><span
                            class="highlighted-color color-gray">ミッション/ ビジョン</span></span>
                </span>
            </p>
        </div>
        <div class="service">
            <div class="service-part">
                <div class="service-img">
                    <img src="../../../assets/images/vision.jpg" alt="ビジョン">
                </div>
                <div class="service-txt">
                    <div class="content">
                        <h3>ITの力で日本の土木の世界を変えたい</h3>
                        <h4>We want to change civil engineering in Japan with the power of IT.</h4>
                        <p>もう、ソフト開発と土木技術者を切り離して考えるのは辞めよう。ソフトウェア開発者の誰もが土木にアプローチでき、土木技術者の誰もがソフトウエア開発に携われるようにする。<br> 我々は、そのためのインフラを提供する。
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ニュース-->
        <h2 id="block-882235a1e44a4cbb9c08eb9952daca58" class="notion-heading"><span class="notion-heading__anchor" id="882235a1e44a4cbb9c08eb9952daca58"></span><span class="notion-semantic-string"><span><span>News</span></span>
            </span>
        </h2>
        <div id="block-ef4de4d44641454dbd710113b37298e4" class="notion-text">
            <p class="notion-text__content"><span class="notion-semantic-string"><span><span
                            class="highlighted-color color-gray">最新ニュース</span></span>
                </span>
            </p>
        </div>
        <div class="box-area news notion-gallery ">
            <ng-container *ngFor=" let item of rss_feeds; index as i ">
                <a class="u-post-header-link" href="{{item.link}}" target=”_blank”>
                    <div class="box">
                        <img src="{{item.thumbnail}}" alt="note記事画像" class="" data-image-width="1232" data-image-height="441">
                        <p class="date"> {{item.pubDate_y}}. {{item.pubDate_m}}. {{item.pubDate_d}}</p>
                        <h3 class="article-title">
                            {{item.title}}
                        </h3>
                    </div>
                </a>
            </ng-container>
        </div>
        <div class="button-area" style="margin-bottom: 60px;">
            <a href="https://note.com/structuralengine/" target="_blank" rel="noopener noreferrer" class="btn-sm blue-btn">もっと見る</a>
        </div>


        <!-- サービス紹介-->
        <div id="block-3824ab1e95374f239e5d04d37b2026f9" class="notion-divider"></div>
        <h2 id="block-882235a1e44a4cbb9c08eb9952daca58" class="notion-heading"><span class="notion-heading__anchor" id="882235a1e44a4cbb9c08eb9952daca58"></span><span class="notion-semantic-string"><span><span>Our
                        Products</span></span>
            </span>
        </h2>
        <div id="block-ef4de4d44641454dbd710113b37298e4" class="notion-text">
            <p class="notion-text__content"><span class="notion-semantic-string"><span><span
                            class="highlighted-color color-gray">構造解析ソフトウェア</span></span>
                </span>
            </p>
        </div>
        <div class="service">
            <div class="service-part">
                <div class="service-img">
                    <img src="../../../assets/images/FrameJS.gif" alt="立体骨組応力解析">
                </div>
                <div class="service-txt">
                    <h3>立体骨組応力解析</h3>
                    <p>本プログラムは任意系立体骨組構造物の応力解析を行うプログラムです。
                    </p>
                    <div class="button-area">
                        <a href="https://structuralengine.github.io/FrameWebforJS/" target="_blank" rel="noopener noreferrer" class="btn-sm blue-btn">使ってみる</a>
                    </div>
                </div>
            </div>
            <div class="service-part">
                <div class="service-img">
                    <img src="../../../assets/images/webdanforJS.png" alt="断面性能照査">
                </div>
                <div class="service-txt">
                    <h3>断面性能照査</h3>
                    <p>本プログラムは断面の釣り合い計算および応力度の算定を行うプログラムです。
                    </p>
                    <div class="button-area">
                        <a href="https://structuralengine.github.io/WebDanforJS/" target="_blank" rel="noopener noreferrer" class="btn-sm blue-btn">使ってみる</a>
                    </div>
                </div>
            </div>
            <div class="service-part">
                <div class="service-img">
                    <img src="../../../assets/images/boxAI.png" alt="立体骨組応力解析">
                </div>
                <div class="service-txt">
                    <h3>BOXカルバートAI</h3>
                    <p>本プログラムはあらかじめ設計した大量の計算結果をAIに学習させることにより適正な寸法を予測するプログラムです。
                    </p>
                    <div class="button-area">
                        <a href="https://sasaco.github.io/BoxAI/" target="_blank" rel="noopener noreferrer" class="btn-sm blue-btn">使ってみる</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- 
            <div class="box-area service notion-
            llery ">
                <a class="u-post-header-link" href="https://structuralengine.github.io/FrameWebforJS/" target=”_blank”>
                    <div class="box">
                        <img src="../../../assets/images/FrameJS.gif" alt="立体骨組応力解析">
                        <div class="box-content">
                            <h3>立体骨組応力解析</h3>
                            <p>本プログラムは任意系立体骨組構造物の応力解析を行うプログラムです。</p>
                        </div>
                    </div>
                </a>
                <a class="u-post-header-link" href="https://structuralengine.github.io/WebDanforJS/" target=”_blank”>
                    <div class="box">
                        <img src="../../../assets/images/webdanforJS.png" alt="断面性能照査">
                        <div class="box-content">
                            <h3>断面性能照査</h3>
                            <p>本プログラムは断面の釣り合い計算および応力度の算定を行うプログラムです。</p>
                        </div>
                    </div>
                </a>
                <a class="u-post-header-link" href="https://sasaco.github.io/BoxAI/" target=”_blank”>
                    <div class="box">
                        <img src="../../../assets/images/boxAI.png" alt="Xカルバート">
                        <div class="box-content">
                            <h3>BOXカルバート</h3>
                            <p>本プログラムはあらかじめ設計した大量の計算結果をAIに学習させることにより適正な寸法を予測するプログラムです。</p>
                        </div>
                    </div>
                </a>
            </div> -->



        <!-- お問い合わせ -->
        <div id="block-3824ab1e95374f239e5d04d37b2026f9" class="notion-divider"></div>
        <h2 id="block-882235a1e44a4cbb9c08eb9952daca58" class="notion-heading"><span class="notion-heading__anchor" id="882235a1e44a4cbb9c08eb9952daca58"></span><span class="notion-semantic-string"><span><span>Contact</span></span>
            </span>
        </h2>
        <div id="block-ef4de4d44641454dbd710113b37298e4" class="notion-text">
            <p class="notion-text__content"><span class="notion-semantic-string"><span><span
                            class="highlighted-color color-gray">お問い合わせ</span></span>
                </span>
            </p>
        </div>
        <div class="contact-detail">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2291.0373854628647!2d139.56229498983652!3d35.70122037359246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2de3b335b65ce6a!2sSTRUCTURAL%20ENGINE!5e0!3m2!1sja!2sjp!4v1627715974067!5m2!1sja!2sjp"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="text">
                <h3>株式会社ささこう</h3>
                <ul>
                    <li>〒181-0013</li>
                    <li>東京都三鷹市下連雀3-3-50パークファミリア501</li>
                    <li class="icon"><i class="fas fa-phone"></i>050-5806-0301</li>
                    <li class="icon"><i class="fas fa-envelope"></i>sasaco@live.jp</li>
                </ul>
            </div>
        </div>
    </div>
</div>