.parallax {
    /* The image used */
    background-image: url("../../assets/images/s-1946x1833_v-frms_webp_aaba735b-1eed-4d84-b75a-290217f75e3b_regular.webp");

    /* Full height */
    // height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
