<div id="employment_top"></div>


<!--サービス紹介-->
<section id="price_intro">
    <div class="diagonal-container">
        <div class="container">

            <h2 class="check">土木設計屋がプログラミングする</h2>
            <h4 class="check">鉄道や橋の安全性・耐久性を判定するために、構造計算を行います。</h4>


            <p>弊社の強みは、プログラミングと構造計算を組み合わせた点にあります。
                プログラミングを駆使し、自動で設計可能なプログラムを作成した上で、構造計算を行います。
                これにより手作業で入力していた部分を自動化し、効率良く構造計算を行うことが可能となります。変更が生じた場合にも迅速に対応することができます。
                このプロセスにより、より多くのご依頼にお応えしております。
                この前例のない方法で、事業を進めるには更なる推進力が必要です。
                個性豊かで才能溢れるメンバーと一緒にライジングさせてくれる仲間を募集いたします。</p>

            <!-- 製品の特長 -->
            <div class="feature">
                <div class="feature-part">
                    <div class="feature-txt">
                        <h3>新<span class="fc-orange">卒</span>・中途採用</h3>
                        <h4 class="check future"><span class="fc-bk">「やらなければならないから」では</span>なく<span
                                class="fc-bk">「やりたいから」</span></h4>
                        <p>鉄筋コンクリート・鋼・複合混合物において鉄道、港湾などの設計基準に準拠</p>
                    </div>
                    <div class="feature-img">
                        <img src="./assets/images/Content team-cuate.png" alt="製品の特長1">
                    </div>
                </div>
                <div class="feature-part">
                    <div class="feature-txt">
                        <h3>業<span class="fc-orange">務</span>委託・アルバイト・パート</h3>
                        <h4 class="check future"><span class="fc-bk">「スタンドプレーから生じる、チームワーク」も</span>ある</h4>
                        <p>100% クラウドベースでシームレスに動作します。<br> パソコン、そしてモバイルタブレットさえ！
                            <br> ライセンスキーは不要、バージョンの問題やコストのかかるアップデートはもうありません。
                        </p>
                    </div>
                    <div class="feature-img">
                        <img src="./assets/images/Content team-bro.png" alt="製品の特長2">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<!--お問い合わせ-->
<section id="contact">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-contact></app-home-contact>
            </div>
        </div>
    </div>
</section>

<!-- トップへ戻る -->
<div id="pagetop">
    <a routerLink="/employment" fragment="employment_top">
        <i class="fas fa-angle-up">
        </i>
    </a>
</div>