<div id="home_top"></div>
<app-home-parallax></app-home-parallax>

<!--サービス紹介-->
<section id="service">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-service></app-home-service>
            </div>
        </div>
    </div>
</section>

<!--最新記事-->
<section id="article">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-news></app-home-news>
            </div>
        </div>
    </div>
</section>

<!--よくある質問-->
<section id="faq">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-faq></app-home-faq>
            </div>
        </div>
    </div>
</section>

<!--お問い合わせ-->
<section id="contact">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-contact></app-home-contact>
            </div>
        </div>
    </div>
</section>

<!-- トップへ戻る -->
<div id="pagetop">
    <a routerLink="/home" fragment="home_top">
        <i class="fas fa-angle-up">
        </i>
    </a>
</div>