<div id="home_top"></div>
<app-home-parallax></app-home-parallax>


<!-- 
<app-home-carousel></app-home-carousel> 
-->

<!-- 
<app-home-aboutus></app-home-aboutus> 
-->

<!-- 
<app-home-ceo></app-home-ceo>
-->

<section id="service">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-service></app-home-service>
            </div>
        </div>
    </div>
</section>
<!-- <section id="service">
    <app-home-howtouse></app-home-howtouse> -->
<section id="article">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-news></app-home-news>
            </div>
        </div>
    </div>

</section>
<section id="faq">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-faq></app-home-faq>
            </div>
        </div>
    </div>
</section>
<!-- 
<app-home-recruit></app-home-recruit>
-->
<section id="contact">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-contact></app-home-contact>
            </div>
        </div>
    </div>
</section>

<div id="pagetop">
    <a href="./home#home_top">
        <i class="fas fa-angle-up">
        </i>
    </a>
</div>