<div id="home_top"></div>
<app-home-parallax></app-home-parallax>

<section id="service">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-service></app-home-service>
            </div>
        </div>
    </div>
</section>

<section id="article">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-news></app-home-news>
            </div>
        </div>
    </div>
</section>

<section id="faq">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-faq></app-home-faq>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="diagonal-container">
        <div class="diagonal">
            <div class="container">
                <app-home-contact></app-home-contact>
            </div>
        </div>
    </div>
</section>

<!-- トップへ戻る -->
<div id="pagetop">
    <a href="./home#home_top">
        <i class="fas fa-angle-up">
        </i>
    </a>
</div>