<h2 class="check">お問い合わせ</h2>
<h4 class="check">Contact</h4>
<div class="contact-detail">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2291.0373854628647!2d139.56229498983652!3d35.70122037359246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2de3b335b65ce6a!2sSTRUCTURAL%20ENGINE!5e0!3m2!1sja!2sjp!4v1627715974067!5m2!1sja!2sjp"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="text">
    <h3>株式会社ささこう</h3>
    <ul>
      <li>〒181-0013</li>
      <li>東京都三鷹市下連雀3-3-50パークファミリア501</li>
      <li><i class="fas fa-phone"></i>050-5806-0301</li>
      <li><i class="fas fa-envelope"></i>sasaco@live.jp</li>
    </ul>
  </div>
</div>